<section class="bg-body-tertiary w-100">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center p-3">
                    <div>&copy; 2025 WanderLust, inc</div>
                    <div>Design & Developed by Arman Ali</div>
                    <div>
                        <a href="https://www.youtube.com/@rrsimtclasses" class="me-2" target="_blank"><i class="fa-brands fa-youtube" style="color: #161717;"></i></a>
                        <a href="https://www.linkedin.com/in/arman-ali-5789b6281/" class="me-2" target="_blank"><i class="fa-brands fa-linkedin" style="color: #161717;"></i></a>
                        <a href="https://github.com/armanalicoder" target="_blank"><i class="fa-brands fa-github" style="color: #161717;"></i></a>
                    </div>
                </div>
            </div>
        </div>
</section>