<% layout("/layouts/boilerplate")-%>
<body>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 d-flex justify-content-center">
                    <div class="error text-center">
                        <h1><i class="fa-solid fa-face-sad-tear"></i></h1>
                        <h1><%=statusCode%></h1>
                        <p><%=message%></p>
                        <a class="btn btn-dark rounded-4" href="/">Back to Home</a>
                    </div> 
                </div>
            </div>
        </div>
    </section>
</body>